@model SalesManagementWebsite.Contracts.Dtos.User.UserOuputDto

@{
    ViewData["Title"] = "View";
}

@section Styles {
    <link href="@Url.Content("~/css/userInfo.css")" rel="stylesheet" type="text/css" />
}

<div class="padding">
    <div class="container d-flex justify-content-center">
        <div class="col-xl-15 col-md-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25">
                                <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="200" height="200" class="img-radius" alt="User-Profile-Image">
                            </div>
                            <h4 class="f-w-600">@Model.Name</h4>
                            <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                        </div>
                    </div>
                    <div class="col-sm-8 mb-5">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Thông Tin Chung</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Email</p>
                                    <h6 class="text-muted f-w-400">@Model.Email</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Số Điện Thoại</p>
                                    <h6 class="text-muted f-w-400">@Model.Phone</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Địa Chỉ</p>
                                    <h6 class="text-muted f-w-400">@Model.Address</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Ngày Sinh</p>
                                    <h6 class="text-muted f-w-400">@Model.DOB.ToString("dd/MM/yyyy")</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Số CCCD</p>
                                    <h6 class="text-muted f-w-400">@Model.IdentityCard</h6>
                                </div>
                            </div>
                            <h6 class="mt-4 m-b-20 p-b-5 b-b-default f-w-600">Phân Quyền</h6>
                            <div class="row">
                                @{
                                    foreach (var s in Model.Roles)
                                    {

                                        <div class="col-sm-6">
                                            @if (s.Name.Equals("Administrative"))
                                            {
                                                <p class="m-b-10 f-w-600 text-danger">@s.Name</p>
                                            }
                                            else
                                            {
                                                <p class="m-b-10 f-w-600">@s.Name</p>
                                            }
                                            <h6 class="text-muted f-w-400">@s.Description</h6>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>